body{
    background-color: rgb(32, 31, 31);
}

.TOP{
    background: darkgrey;
    text-align: center;
   
    font-size: 25px;
    font-family: Fantasy;
    
    color:wheat;
    

    cursor: pointer;
}

.TOP img{
    position: relative;
    height: 40px;
    right: 500px;
    top: -80px;
}


.MAIN_TEXT{
    font-size:  25px;
    text-align: center;
    font-family: Fantasy;

    margin-top: -30px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 1.5%;
    min-width: 50%;
    background-color: grey;
    color: beige;


}

.MAIN_TEXT h2{
    text-align: center;
    font-size: 40px;

    margin: 10px;
   
    color: wheat;
    text-decoration: underline;

    background-color: black;
}

.MAIN_TEXT img{

    width: 35%;
    margin: 5px;
    padding: 2%;
}

.MAIN_TEXT button{
   
   margin: 1.5%;
   padding: 1.5%;
   
}

@media only screen and (max-width: 768px) {
    .MAIN_TEXT {
        font-size: 20px; 
    }
    .MAIN_TEXT h2{
        text-align: center;
    }
    .MAIN_TEXT button{
        font-size: 15px;
    }
    .MAIN_TEXT img {
        width: 100%;

    }
}